<form action="/payment/results">

  <div>
    <label for="james">APR<label>
  </div>

  <div>
    <input id="james" type="text" placeholder="E.g. 5.42" name="user_apr">
  </div>

  <div>
    <label for="charlie">Number of years<label>
  </div>

  <div>
    <input id="charlie" type="text" placeholder="How many years to repay?" name="user_years">
  </div>

  <div>
    <label for="andy">Principal<label>
  </div>

  <div>
    <input id="andy" type="text" placeholder="How much principal?" name="user_pv">
  </div>

  <div>
    <button>Calculate monthly payment</button>
  </div>

</form>