<form action="/random/results">

  <div>
    <label for="ben">Minimum<label>
  </div>

  <div>
    <input id="ben" type="text" placeholder="E.g. 1.5" name="user_min_num">
  </div>

  <div>
    <label for="giuli">Maximum<label>
  </div>

  <div>
    <input id="giuli" type="text" placeholder="E.g. 4.5" name="user_max_num">
  </div>

  <div>
    <button>Pick random number</button>
  </div>

</form>