<div>
  <h1>
    Random Results
  </h1>
</div>

<div>
  <dl>
    <dt>Minimum</dt>
    <dd><%=@min_num%></dd>

    <dt>Maximum</dt>
    <dd><%=@max_num%></dd>
    
    <dt>Random Number</dt>
    <dd><%=@rand_num%></dd>
  </dl>
</div>

<div>
  <a href="/random/new">Calculate another random number</a>
</div>

