<form>

  <div>
    <label for="leila">Enter a number</label>
  </div>

  <div>
    <input id="leila" type="text" placeholder="What number do you want to square?" name="squarenumber">
  </div>

  <div>
    <button>Calculate square</button>
  </div>

</form>