<div>
  <h1>
    Square Root Results
  </h1>
</div>

<div>
  <dl>
    <dt>Number</dt>
    <dd><%=@root_num%></dd>

    <dt>Square Root</dt>
    <dd><%=@root_of_root_num%></dd>
  </dl>
</div>

<div>
  <a href="/square_root/new">Calculate another square root</a>
</div>

